

@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1 class="push text-center" style="font-size: 160px; font-weight:bold;"><i class="fa fa-exclamation-circle"></i></h1>
<h3 class="landmark text-center">Access Denied!</h3>
<div class="txthighlight text-center">
    <a href="@Url.Action("Index","Home")"> Go To Home </a>
</div>
